body{
    color: whitesmoke;
    background-color:#121825
    
}
.heading{

    color: whitesmoke;
    background-color:#121825
}
header{
    width: 100%;

}
#nav{
    background-color: #121825;
}
#demo{
    background-color: #121825;
    height: 400px;
    margin-top: 78px;
    
}
.image-gradient{
    position: absolute;
    background-image: linear-gradient(to right,rgba(7, 7, 7,0),rgba(7, 7, 7,0.8));
    z-index: 5;
}
#slide{
   
    background-color: #121825;
    margin-top: 0%;
}
.slider1{
    background-color: #121825;
    
    margin-left: 50px;
    margin-right: 50px;
}

.lt>img{
    height: 200px;
    width: 150px;
    border-radius: 5%;
}
.lt:hover{

}

